<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>ShareDB Rich Text</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <link href="quill.snow.css" rel="stylesheet">
        <script type="module" src="js/client.js"></script>
    </head>
    <body>
        <div>hello world</div>
        <div id="editor"></div>
    </body>
</html>

